* {
  margin:0;
}

body {
  background-color:#2D2D2D;
}

.transition {
  transition:all 0.5s;
}

h1 {
  font-size:50px;
}

nav {
  position:fixed;
  background-color:white;
  height:calc(3.61vw + 40.69px); /*calc(5.42vw + 16.03px) 6.58vw 90px*/
  width:100%;
  border-bottom:2px solid black;
  z-index:2;
}

.nav-scroll {
  height:calc(2.41vw + 27.12px);
  transition:all 0.5s;
}

.nav-links {
  position:absolute;
  font-family:Comfortaa, cursive;
  font-weight:bold;
  font-size:calc(1.40vw + 15.82px); /*2.56vw 35px*/
  display:inline-block;
  padding-top:calc(1vw + 11.30px); /*1.83vw 25px*/
  margin-left:-25px;
}

.nav-links-scroll {
  font-size:calc(0.94vw + 10.55px);
  padding:calc(0.67vw + 7.53px);
  transition:all 0.5s;
}
.nav-links-1 {
  left:18vw;
}

.nav-links-2 {
  left:40vw; /*calc(35vw + 70px)*/
}

.nav-links-2-scroll {
  left:38.5vw;
  transition:all 0.5s;
}

.nav-links-3 {
  left:53vw;
}

.nav-links-3-scroll {
  left:52.5vw;
  transition:all 0.5s;
}

.nav-links-4 {
  left:70vw;
}

.clean {
  color:inherit;
  text-decoration:none;
  padding:calc(1vw + 11.30px); /*1.83vw 25px*/
  padding-left:25px;
  padding-right:25px;
}

.logo {
  height:calc(3.21vw + 36.17px); /*5.85vw 80px*/
  margin-left:calc(0.4vw + 4.52px); /*0.73vw 10px*/
  margin-top:calc(0.2vw + 2.26px); /*0.36vw 5px*/
}

.logo-scroll {
  height:calc(2.14vw + 24.11px);
  margin-left:calc(1.20vw + 13.56px);
  margin-top:calc(0.13vw + 1.51px);
  transition:all 0.5s;
}

i {
  position:absolute;
}

#nav-links-icons-1 {
  margin-left:calc(8.83vw + 99.45px); /*16.1vw 220px*/
  bottom:calc(0.12vw + 1.36px); /*0.21vw 3px*/
  display:none;
}

.nav-links-icons-1-scroll {
  left:-40px;
  margin-bottom:calc(0.56vw + 6.33px);
}

#nav-links-icons-2 {
  margin-left:calc(4.41vw + 49.73px); /*8.05vw 110px*/
  bottom:calc(0.2vw + 2.26px); /*0.36vw 5px*/
  display:none;
}

.nav-links-icons-2-scroll {
  left:-5px;
  margin-bottom:calc(0.52vw + 5.88px);
}

#nav-links-icons-3 {
  margin-left:calc(7.02vw + 79.11px); /*12.81vw 175px*/
  bottom:calc(0.12vw + 1.36px); /*0.21vw 3px*/
  display:none;
}

.nav-links-icons-3-scroll {
  left:-25px;
  margin-bottom:calc(0.56vw + 6.33px);
}

#nav-links-icons-4 {
  margin-left:calc(7.02vw + 79.11px); /*12.81vw 175px*/
  bottom:calc(0.12vw + 1.36px); /*0.21vw 3px*/
  display:none;
}

.nav-links-icons-4-scroll {
  left:-25px;
  margin-bottom:calc(0.60vw + 6.78px);
}

#mob-menu-icon, #mob-menu {
  display:none;
}

#container {
  position:relative;
}

#img-pen, #img-pc, #img-coffee, #img-draw {
  width:105%;
  position:static; /*position:abolsute;*/
  margin-left:-10px;
  margin-top:-10px;
  filter:blur(5px);
  z-index:0;
}

#img-draw {
  width:115%;
}

#overflow {
  overflow:hidden;
}

.circle {
  background-color:rgba(0, 0, 0, 0);
  border:calc(0.08vw + 0.9px) solid black; /*0.1464vw 2px*/
  border-radius:50%;
  height:calc(9.43vw + 106.24px); /*17.2vw 235px*/
  width:calc(9.43vw + 106.24px); /*17.2vw 235px*/
  position:absolute;
  top:15.5vw; /*212px*/
  cursor:pointer;
  z-index:1;
}

#container > a {
  color:inherit;
}

#circle-1 {
  left:19vw;
}

#circle-2 {
  left:41vw;
}

#circle-3 {
  left:63vw;
}

#img-icon-lightning {
  position:absolute;
  left:calc(1.93vw + 21.69px); /*3.51vw 48px*/
  top:calc(2.21vw + 24.86px); /*4.02vw 55px*/
  width:calc(5.61vw + 63.29px); /*10.24vw 140px*/
}

#img-icon-lightbulb {
  position:absolute;
  left:calc(2.05vw + 23.06px); /*3.73vw 51px*/
  top:calc(2.05vw + 23.06px); /*3.73vw 51px*/
  width:calc(5.22vw + 58.77px); /*9.51vw 130px*/
}

#img-icon-pen {
  position:absolute;
  left:calc(2.25vw + 25.32px); /*4.09vw 56px*/
  top:calc(2.25vw + 25.32px); /*4.09vw 56px*/
  width:calc(5.01vw + 56.51px); /*9.15vw 125px*/
}

.img-icons-animate {
  position:absolute;
  opacity:0;
  filter:invert(100%);
}

#img-icons-animate-1 {
  left:calc(1.93vw + 21.69px);
  top:calc(4.41vw + 49.73px); /*110px*/
  width:calc(5.61vw + 63.29px);
}

#img-icons-animate-2 {
  left:calc(2.05vw + 23.06px);
  top:calc(4.09vw + 46.11px); /*102px*/
  width:calc(5.22vw + 58.77px);
}

#img-icons-animate-3 {
  left:calc(2.25vw + 25.32px);
  top:calc(4.49vw + 50.63px); /*112px*/
  width:calc(5.01vw + 56.51px);
}

.text-circles {
  position:absolute;
  font-family:Crete Round, serif;
  font-size:calc(2.01vw + 22.60px); /*3.66vw 50px*/
  top:calc(10.03vw + 113.02px); /*18.30vw 250px*/
}

#text-circles-1 {
  left:calc(2.89vw + 32.55px); /*5.27vw 72px*/
}

#text-circles-2 {
  left:calc(2.01vw + 22.60px); /*3.66vw 50px*/
}

#text-circles-3 {
  left:calc(1.81vw + 20.34px); /*3.29vw 45px*/
}

#swish {
  position:absolute;
  top:calc(6.02vw + 67.81px);
  left:calc(25.27vw - 145.19px);
  width:calc(16.05vw + 180.83px);
  border-radius:4px;
}

#swish-text {
  position:absolute;
  color:white;
  background-color:rgba(150,150,150,0.7);
  border:2px solid rgba(150,150,150,0.9);
  border-radius:4px;
  padding:calc(0.20vw + 2.26px);
  font-family:Source Sans Pro, sans-serif;
  font-size:calc(0.80vw + 9.04px);
  width:calc(16.05vw + 180.83px);
  top:calc(8.02vw + 90.41px);
  left:calc(50.54vw + 9.60px);
}

#caption {
  font-size:calc(0.56vw + 6.33px);
}

#contactinfo {
  position:absolute;
  color:black;
  background-color:rgba(150,150,150,0.7);
  border:2px solid rgba(150,150,150,0.9);
  border-radius:4px;
  padding:calc(0.80vw + 9.04px);
  font-family:Source Sans Pro, sans-serif;
  font-size:calc(0.80vw + 9.04px);
  width:calc(24.07vw + 271.24px);
  top:calc(8.02vw + 90.41px);
  left:10.98vw;
}

.header {
  font-size:calc(1.40vw + 15.82px);
}

.bold {
  font-weight:bold;
}

#productinfo, #aboutinfo {
  position:absolute;
  color:black;
  /*background-color:rgba(150,150,150,0.7);
  border:2px solid rgba(150,150,150,0.9);*/
  border-radius:4px;
  padding:calc(0.80vw + 9.04px);
  font-family:Source Sans Pro, sans-serif;
  font-size:calc(0.80vw + 9.04px);
  width:800px;
  top:calc(8.02vw + 90.41px);
  left:calc(48.47vw - 392.94px);
  text-align:center;
}

#aboutinfo {
  color:white;
}

.circlepics {
  width:calc(4.01vw + 45.21px);
  height:calc(4.01vw + 45.21px);
}

.circlepics:first-of-type {
  margin-right:calc(3.61vw + 0.69px);
}

.circlepics:last-of-type {
  margin-left:calc(3.61vw + 0.69px);
}

.nametext-1 {
  margin-right:calc(1.40vw + 15.82px);
  margin-left:calc(0.08vw + 0.90px);
}

.nametext-2 {
  margin-left:calc(1.81vw + 20.34px);
}

.titletext-1 {
  margin-right:calc(3.89vw + 43.85px);
}

.titletext-2 {
  margin-right:calc(1.89vw + 21.25px);
}

#sitelink {
  position:absolute;
  top:calc(80.39vh + 150.65px);
}

.info-main {
  position:absolute;
  background-color:#2D2D2D;
  margin-top:-7.32vw; /*-100px*/
  z-index:0;
}

#info-main-logo {
  width:22vw;
  margin-left:11vw;
  margin-top:5.49vw; /*75px*/
}

h1 {
  display:inline-block;
  position:absolute;
  top:7.32vw; /*100px*/
  margin-left:5.7vw; /*75px*/
  font-family:Comfortaa, sans-serif;
  color:white;
  font-size:2.6vw; /*2.6vw*/
}

#info-main-text, #facebook-text {
  display:inline-block;
  width:calc(26.07vw + 293.84px); /*650px*/
  margin-left:39vw; /*530px*/
  margin-top:calc(-15vw + 50px); /*-125px -10vw*/
  font-family:Varela Round, sans-serif;
  color:white;
  font-size:calc(1vw + 11.30px); /*25px 1.3vw*/
}

footer {
  position:absolute;
  font-family:Varela Round, sans-serif;
  color:white;
  width:100%;
  /*margin-top:200px;*/
}

#footer-shop {
  top:calc(90.25vw + 267.15px); /*1500px*/
}

#footer-contact {
  top:calc(77.17vw - 104.09px);
}

hr {
  margin:0 auto;
  width:80%;
}

.footer-links {
  font-size:calc(0.54vw + 12.60px); /*20px*/
  margin-top:calc(0.41vw + 9.45px); /*15px*/
  margin-left:15vw;
}

.footer-links:nth-child(2) {
  font-size:calc(0.68vw + 15.75px); /*25px*/
  margin-top:calc(2.03vw + 47.26px); /*75px*/
}

.footer-links:nth-child(3) {
  font-size:calc(0.41vw + 9.45px); /*15px*/
  font-style:italic;
  margin-top:calc(0.27vw + 6.30px); /*10px*/
  margin-bottom:calc(1.08vw + 25.21px); /*40px*/
}

.footer-links > .clean {
  padding:calc(0.27vw + 6.30px);
}

.bx-wrapper {
  width:60vw;
  border-radius:7px;
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-left:19.5vw;
  margin-top:38vw;
  overflow:hidden;
  z-index:0;
}

#facebook {
  margin:5vw 0 2vw 19vw;
}

#facebook-text {
  position:absolute;
  margin-top:5vw;
  left:10vw;
  width:calc(14.04vw + 180px);
}

#img-social-1, #img-social-2, #img-social-3 {
  width:4vw;
  padding:1vw;
}

footer > a {
  position:absolute;
  margin-top:-5vw;
}

#social-links-1 {
  margin-left:68vw;
}

#social-links-2 {
  margin-left:73vw;
  padding-left:0;
}

#social-links-3 {
  margin-left:80vw;
  margin-top:-4.7vw;
}

#copyright {
  font-size:1.09vw;
  margin-left:45vw;
  margin-top:4vw;
  padding-bottom:2vw;
}

.fa-arrow-circle-up {
  position:fixed;
  color:rgba(80, 80, 80, 0.5);
  font-size:5.86vw !important;
  right:3.66vw; /*50px*/
  bottom:-8.79vw; /*-120*/
  z-index:1;
  transition:all 1s;
}

.fa-arrow-circle-up-scroll {
  bottom:2.19vw; /*30px*/
  transition:all 1s;
}

.feedback {
  position:fixed;
  font-family:Comfortaa, sans-serif;
  bottom:-40px;
  left:-4px;
  height:25px;
  padding-top:8px;
  padding-right:10px;
  background-color:white;
  border-top:1px solid black;
  border-right:1px solid black;
  border-radius:5px;
}

.feedback > a {
  padding-left:10px;
}

.fa-commenting-o {
  margin-left:10px;
}

#feedback {
  margin-left:74.2vw;
  margin-top:-45px;
}

.topimg, .topimg2 {
  margin-left:10vw;
  margin-top:10vw;
  margin-bottom:10vw;
  width:30vw;
}

@media only screen and (max-width:960px) {
  nav {
    height:21.67vw; /*16.67vw 60px*/
  }

  .logo {
    height:16.25vw; /*12.5vw 45px*/
    margin-top:2.53vw; /*1.94vw 7px*/
    margin-left:3.61vw; /*2.78vw 10px*/
  }

  .nav-links {
    display:none;
    font-size:5.56vw; /*5.56vw 20px*/
    margin-left:6vw; /*6vw*/
  }

  .nav-links-1 {
    top:30vw; /*25vw 90px*/
  }

  .nav-links-2 {
    top:43.89vw; /*38.89vw 140px*/
  }

  .nav-links-3 {
    top:57.78vw; /*52.78 190px*/
  }

  .nav-links-4 {
    top:71.67vw; /*66.67vw 240px*/
  }

  i:not(.fa-arrow-circle-up):not(.fa-commenting-o) {
    visibility:hidden;
  }

  .feedback {
    z-index:1;
  }

  .fa-arrow-circle-up {
    font-size:15vw !important;
    right:7vw;
    bottom:-20vw;
  }

  .fa-arrow-circle-up-scroll {
    bottom:5vw;
  }

  #mob-menu-icon {
    position:absolute;
    display:inline-block;
    font-size:9vw; /*8.33vw 30px*/
    font-weight:bold;
    right:9vw; /*10vw*/
    top:4.75vw; /*2.5vw 9px*/
    cursor:pointer;
  }

  #img-pen {
    min-width:525%;
    filter:blur(0.83vw);
  }

  #img-pc {
    min-width:375%;
    filter:blur(0.83vw);
  }

  #img-coffee {
    min-width:275%;
    filter:blur(0.83vw);
  }

  #img-draw {
    min-width:525%;
    filter:blur(0.83vw);
  }

  .circle {
    border:0.26vw solid black;
    height:52vw;
    width:52vw;
  }

  #circle-1 {
    left:25vw; /*30vw*/
    top:76.39vw; /*275px*/
  }

  #circle-2 {
    left:25vw;
    top:159.72vw; /*515px*/
  }

  #circle-3 {
    left:25vw;
    top:243.06vw; /*755px*/
  }

  #img-icon-lightning {
    width:calc(27.56vw + 8.69px); /*calc(21.20vw + 6.69px)*/
    left:11.5vw; /*8.5vw*/
    top:12vw; /*9vw*/
  }

  #img-icon-lightbulb {
    width:calc(25.75vw + 8.12px); /*calc(19.81vw + 6.25px)*/
    left:12vw; /*9vw*/
    top:12vw; /*9vw*/
  }

  #img-icon-pen {
    width:calc(24.78vw + 7.82px); /*calc(19.04vw + 6.01px)*/
    left:12vw; /*9vw*/
    top:12vw; /*9vw*/
  }

  .text-circles {
    font-size:11.7vw; /*9vw*/
    top:53.95vw; /*41.5vw*/
  }

  #text-circles-1 {
    left:15.6vw; /*12vw*/
  }

  #text-circles-2 {
    left:9.5vw; /*7vw*/
  }

  #text-circles-3 {
    left:8.2vw; /*6.5vw*/
  }

  #swish {
    top:40vw;
    left:9.6vw;
    width:80vw;
    border-radius:10px;
  }

  #swish-text {
    border-radius:6px;
    padding:1.2vw;
    font-size:4vw;
    width:76.5vw;
    top:160vw;
    left:9.6vw;
  }

  #caption {
    font-size:3.1vw;
  }

  #contactinfo {
    border-radius:6px;
    font-size:3.9vw;
    width:83.33vw;
    top:45vw;
    left:4.5vw;
  }

  .header {
    font-size:7vw;
  }

  #productinfo, #aboutinfo {
    font-size:4.5vw;
    width:90vw;
    left:2.7vw;
    top:40vw;
  }

  #productinfo > .header, #aboutinfo > .header {
    font-size:8vw;
  }

  .circlepics {
    width:27.78vw;
    height:27.78vw;
  }

  .circlepics:first-of-type {
    margin-right:8vw;
  }

  .circlepics:last-of-type {
    margin-left:8vw;
  }

  .nametext-1 {
    margin-right:8.5vw;
    margin-left:0;
  }

  .titletext-1 {
    margin-right:19vw;
  }

  .titletext-2 {
    margin-right:11vw;
  }

  #sitelink {
    top:300vw;
  }

  .info-main {
    margin-top:0;
  }

  #info-main-logo {
    display:none;
  }

  h1 {
    top:8.5vw;
    margin-left:9vw;
    font-size:6vw;
  }

  #info-main-text {
    margin-left:8.5vw;
    margin-top:20vw;
    font-size:4.5vw; /*12px*/
    width:77.78vw; /*280px*/
    background-color:#5b5b5b;
    padding:2.78vw; /*10px*/
    border:1px solid white;
  }

  .bx-wrapper {
    margin-top:130vw;
    margin-left:0;
    border-radius:0;
    height:64.73vw;
    width:97.1vw;
  }

  hr {
    width:100%;
  }

  #footer-shop {
    top:375vw;
  }

  #footer-contact {
    top:180vw;
  }

  #footer-product {
    top:347.5vw;
  }

  .footer-links {
    margin-left:10vw;
  }

  .footer-links:nth-child(2) {
    margin-top:10vw
  }

  #img-social-1, #img-social-2, #img-social-3 {
    width:12vw;
  }

  #social-links-1 {
    margin-left:53vw;
  }

  #social-links-2 {
    margin-left:68vw;
    padding-left:0;
  }

  #social-links-3 {
    margin-left:84vw;
    margin-top:-4.7vw;
  }

  #copyright {
    font-size:3vw;
    margin-left:38vw;
    margin-top:22vw; /*14vw*/
    padding-bottom:3vw;
  }

  #feedback {
    font-size:3vw;
    margin-left:66vw;
    margin-top:-18vw;
  }

  #facebook {
    margin:55.56vw 0 13.89vw calc(43.95vw - 105.48px); /*14.65vw 80px(för 414px)*/
  }

  #facebook-text {
    margin:10vw 0 0 calc(43.95vw - 140.48px);
    font-size:4.5vw;
  }

  .footer-links {
    font-size:6.5vw;
  }

  .footer-links:nth-child(2) {
    font-size:7vw;
  }
}

@media only screen and (min-width:1920px) {
  #img-pen {
    filter:blur(6px);
  }

  #circle-1 {
    left:20vw;
  }

  #circle-2 {
    left:42vw;
  }

  #circle-3 {
    left:64vw;
  }

  .nametext-1 {
    margin-right:calc(1.40vw + 15.82px + 19px);
  }

  .titletext-1 {
    margin-right:calc(3.89vw + 43.85px + 19px);
  }

  .topimg, .topimg2 {
    position:absolute;
    margin-bottom:-20vw;
  }
}

@media only screen and (min-width:2560px) {
  .nametext-1 {
    margin-right:calc(1.40vw + 15.82px + 36px);
  }

  .titletext-1 {
    margin-right:calc(3.89vw + 43.85px + 36px);
  }
}
